<nav>
  <div id="logo">
    <a href="/index">J</a>
  </div>

  <!-- <div id="newpost">
    <a href="/newpost">login</a>
  </div> -->

  <div id="comments">
    <a href="/comments/:user_id">comments</a>
  </div>

  <div id="login">
    <a href="/login">login</a>
  </div>

</nav>

