<div id="logowrapper">
<div id="mainLogo">J</div>news
</div>
<form action="/login" method="post">
  <div>
    <input type="text" name="username" placeholder="username"></input>
    <br>
    <input type="password" name="password" placeholder="password"></input>
  </div>
  <div>
    <input type="submit" value="Register"></input>
    
    <input type="submit" value="Login"></input>
  </div>
</form>
